<div  class='productCard w-[15rem] border m-3 transition-all cursor-pointer '>
    <div class='h-[20rem]'>
        <img class='h-full w-full object-cover object-left-top' src='https://ik.imagekit.io/wb2spwtue/kreeva/tr:h-430,w-315,q-80,cm-pad_resize/media/catalog/product/l/e/lehenga-choli_173_1.jpg' alt="" />
    </div>
    <div class='textPart bg-white p-3 '>
        <div>
            <p class='font-bold opacity-60'>Beige Georgette Umbrella Lehenga</p>
        <p  class=''>brand</p>
        <p class='font-semibold opacity-50'>Green</p>
        </div>
        
        <div class='flex space-x-2 items-center'>
            <p class='font-semibold'>₹4500</p>
            <p class='opacity-50 line-through'>₹7999</p>
            <p class='text-green-600 font-semibold'>40% off</p>
        </div>
        
    </div>
   </div>