<div class="mt-[4rem]">
    <app-main-carousel/>
</div>


<div>
    <app-product-card-slider title="Men's Shirt" [products]="products"/>
    <app-product-card-slider title="Women's Saree"  [products]="products"/>
    <!-- <app-product-card-slider title="Lehanga Choli"/> -->
    <!-- <app-product-card-slider title="Men's T-Shirt"/> -->
    <!-- <app-product-card-slider title="Men's Kurta"/> -->
    <!-- <app-product-card-slider title="Women's Kurta"/>  -->

</div>

<!-- <div class="flex flex-wrap justify-center">
    <app-product-card *ngFor="let item of products"/>
</div> -->

